@model Cibertec.Models.Producto

<div class="">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
                <img alt="..." src="@Url.Action("GetImage", "Producto" , new { fileName = @Model.Archivo})" height="500" width="500"/>
                    <div class="caption">
                        <person descripcion="@Model.Descripcion" stock="@Model.StockMinimo"></person>
                        @*<h3>@Model.Descripcion</h3>
                <p>Stock: @Model.StockMinimo<br />*@
                        Fecha de Registro: @Model.FechaRegistro</p>
                        <p>
                            <a class="btn btn-primary" href="@Url.Action("Edit", "Producto" , new { id=@Model.Id })">Editar</a>
                            <a class="btn btn-danger" href="/Producto/Delete/@Model.Id">Eliminar</a>
                            <a class="btn btn-success " target="_blank" href="@Url.Action("GetImage", "Producto" , new { fileName = @Model.Archivo})">Descargar</a>
                        </p>
                    </div>
                </div>
    </div>
</div>

@*<tr>
    <td>@Model.Id</td>
    <td>@Model.Descripcion</td>
    <td>@Model.StockMinimo</td>
    <td>@Model.FechaRegistro</td>
    <td>
        <a href='@Url.Action("Edit", "Producto" , new { id=@Model.Id })'>
            <i class="glyphicon glyphicon-edit">
            </i>
        </a>
        <a href='/Producto/Delete/@Model.Id' data-toggle="modal">
            <i class="glyphicon glyphicon-trash">
            </i>
        </a>
        <a target="_blank" href='@Url.Action("GetImage", "Producto" , new { fileName = @Model.Archivo})'>
            <i class="glyphicon glyphicon-download"></i>
        </a>
    </td>
</tr>*@